.contact-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 50px;
}
.cont-banner {
  width: 100%;
  height: 473px;
  background-image: url('./Images/contact2img.jpg');
  /* Replace with actual image path */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 215px;

}

.contact-form {
  width: 40%;
  padding: 20px;
  background-color: #fafafa;
  /* border-right: 3px solid #a36e29; */
}

.contact-form h2 {
  font-size: 28px;
  margin-bottom: -10px;
  color: #a36e29;
}

.contact-form p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.contact-info p {
  font-size: 14px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  color: #333;
}

.contact-info p span {
  margin-left: 8px;
font-size: 16px;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-icons div {
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
}

.social-icons div span {
  margin-left: 8px;
  /* Space between icon and text */
}

.social-icons i {
  font-size: 18px;
}


.form-wrapper {
  width: 60%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-field {
  flex: 1;
  margin-bottom: 15px;
}

.input-field label {
  font-size: 18px;
  font-weight: 600;
  color: #333;

}

.input-field input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  resize: none;
  margin-top: 10px;
}

.map-section {
  width: 98%;
  margin-left: 10px;
}


.input-field textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  resize: none;
  margin-top: 10px;

}

textarea {
  height: 100px;
}

.submit-but {
  padding: 12px;
  background-color: #a36e29;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 20%;
}

.submit-but:hover {
  color: white;
  background-color: rgb(113, 86, 86);
  border: 1px solid rgb(13, 13, 13);
}

/* Base Styles */
.contact-page-container {
  font-family: 'Arial', sans-serif;
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  margin-top: 152px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

.contact-card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.contact-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-icon {
  font-size: 30px;
  margin-right: 20px;
  color: #a36e29;
}

.contact-card h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  color: #a36e29;
  margin-right: 25px;
}

.contact-card p,
.contact-card ul {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

.contact-card ul {
  list-style-type: disc;
  margin-left: 40px;
}
.contact-card
.inv_rel{
  margin-left: 62px;
}
.contact-card
.access{
  margin-left: 42px;
}


.contact-card
.find_ans{
  margin-left: 207px;
}

@media (max-width: 767px) {
  .contact-page-container
.contact-card .inv_rel {
    margin-left: -26px;
}


.contact-card .find_ans {
  margin-left: 1px;
}
.contact-card 
.l_p{
  margin-left: 1px;
}
}


@media (max-width: 480px) {

  .contact-page-container {
    padding: 10px;
  }

  .contact-card {
    padding: 15px;
  }

  .contact-card h3 {
    font-size: 14px;
  }

  .contact-card p,
  .contact-card ul {
    font-size: 12px;
  }

  .contact-container {
    width: 80%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }


  .contact-form {
    width: 90%;
    padding: 20px;
    background-color: #fafafa;
    border-right: 1px solid #ddd;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form p,
  .contact-info p {
    font-size: 15px;
  }


  .form-wrapper {
    width: 92%;
    padding: 20px;
  }

  .social-icons {
    flex-direction: row;
    gap: 60px;
  }

  .input-field label,
  .input-field input,
  .input-field textarea {
    font-size: 15px;
  }
}

/* Map Section */
.map-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.map-iframe {
  width: 82%;
  height: 400px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


/* Responsive styling */
@media (max-width: 768px) {

  .contact-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    margin-bottom: 10px;
  }

  .contact-card h3 {
    font-size: 16px;
  }

  .contact-card p,
  .contact-card ul {
    font-size: 14px;
  }
  .contact-container {
    padding: 1.5rem;
  }

  .map-section {
    width: 90%;
  }

  .map-iframe {
    height: 400px;
    width: 100%;

  }
}

@media (max-width: 480px) {

  .contact-page-container {
    padding: 10px;
  }

  .contact-card {
    padding: 15px;
  }

  .contact-card h3 {
    font-size: 14px;
  }

  .contact-card p,
  .contact-card ul {
    font-size: 12px;
  }

  .map-iframe {
    height: 300px;
    width: 90%;

  }
  .contact-card
.access{
  margin-left: 1px;
}
}

.map-section {
  width: 98%;
  margin-left: 10px;
}

.cont-section-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 128px; */
}



.cont-banner-text {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {

  .contact-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    margin-bottom: 10px;
  }

  .contact-card h3 {
    font-size: 16px;
  }

  .contact-card p,
  .contact-card ul {
    font-size: 14px;
  }

  /* Tablet */
  .cont-section-container {
    height: 250px;

  }

  .cont-banner-text {
    font-size: 1.5em;
    /* Slightly smaller text for tablets */
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {

  .cont-banner {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex
;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
  .contact-page-container {
    padding: 10px;
    margin-top: 80px;
  }

  .contact-card {
    padding: 15px;
  }

  .contact-card h3 {
    font-size: 24px;
  }

  .contact-card p,
  .contact-card ul {
    font-size: 16px;
    margin-left: -27px;

  }

  /* Mobile */
  .cont-section-container {
    height: 200px;
  }

  .cont-banner-text {
    font-size: 1.2em;
    /* Smaller text for mobile */
    padding: 6px 12px;
  }
}

.cont-social-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.cont-social-link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

.cont-social-link img {
  width: 30px;
  height: 30px;
}

.cont-social-link span {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .cont-social-container {
    padding: 10px;
    gap: 15px;
  }

  .cont-social-link span {
    font-size: 1rem;
  }

  .cont-social-link img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {

  .contact-container {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .map-section {
    width: 98%;
    /* margin-left: 10px; */
  }

  .cont-banner {
    width: 100%;
    height: 300px;
    background-image: url('./Images/contact2img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 210px;
    justify-content: center;
  }

.contact-page-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    margin-top: 145px;
}
.contact-card .inv_rel {
  margin-left: -25px;
}

.contact-card .explores{
  margin-left: -23px;
}
.contact-card .access {
  margin-left: 2px;
}
.contact-card .find_ans {
  margin-left: 0px;
}

.submit-but {
  padding: 12px;
  background-color: #a36e29;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 35%;
}


form{
    flex-direction: column;
    margin-top: 32px;
}


}

@media (max-width: 767px) {
  .contact-container {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form p,
  .contact-info p,
  .social-icons div {
    font-size: 16px;
  }

  .input-field label {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }

  .input-group {
    flex-direction: column;
  }

  .submit-but {
    width: 45%;
    margin-top: 0px;
    margin-left: 78px;  }

  .map-section {
    width: 95%;
    margin-left: 10px;
  }
}