.home-call-to-action {
  padding: 40px;
  text-align: center;
  background-color: #f8f9fa;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-call-to-action-heading {
  font-size: 30px;
  color: #a36e29;
}

.home-call-to-action-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.home-call-to-action-card {
  background: linear-gradient(135deg, #a8c0ff, #5f5f5f); /* Lighter gradient */
  color: #333; /* Darker text for contrast */
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-call-to-action-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.home-call-to-action-card p {
  margin: 0 0 10px;
  font-size: 1rem;
  color: white;
  font-size: 18px;
}

.home-call-to-action-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
  color: #a36e29;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home-call-to-action-button:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Lighter hover effect */
  color: #007bff; /* Text color changes on hover */
}

/* Mobile View */
@media (max-width: 600px) {
  .home-call-to-action {
    padding: 40px;
    text-align: center;
    background-color: #f8f9fa;
    margin-top: -41px;
    margin-bottom: 0px;
  }
  .home-call-to-action-heading {
    font-size: 24px;
  }

  .home-call-to-action-cards {
    flex-direction: column;
    gap: 15px;
    margin-left: -10px;
  }

  .home-call-to-action-card {
    width: 100%;
    padding: 15px;
    margin-left: -10px;
  }

  .home-call-to-action-button {
    padding: 8px 16px;
  }
}

/* Tablet (iPad) View */
@media (min-width: 601px) and (max-width: 1024px) {
  .home-call-to-action-heading {
    font-size: 26px;
  }

  .home-call-to-action-cards {
    flex-direction: row;
    gap: 20px;
  }

  .home-call-to-action-card {
    width: 45%;
    padding: 18px;
  }

  .home-call-to-action-button {
    padding: 9px 18px;
  }


  .home-call-to-action {
    padding: 40px;
    text-align: center;
    background-color: #f8f9fa;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}

/* Desktop View */
@media (min-width: 1025px) {
  .home-call-to-action-heading {
    font-size: 30px;
  }

  .home-call-to-action-cards {
    flex-direction: row;
    gap: 20px;
  }

  .home-call-to-action-card {
    width: 300px;
    padding: 20px;
  }

  .home-call-to-action-button {
    padding: 10px 20px;
  }
}
