/* Section Background */
.product-quality-section {
    /* background: linear-gradient(to right, rgba(119, 112, 112, 1) 0%, rgb(129 127 124) 28%, rgb(42 42 41) 100%); */
    color: #fff;
    padding: 10px 0;
  }
  
  /* Container */
  .product-quality-container {
    padding: 20px;
    max-width: 1270px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Main Heading */
  .product-quality-heading {
    font-size: 2em;
    margin-bottom: 20px;
    color: #f8f8f8;
  }
  
  /* Paragraph Styling */
  .product-quality-para {
    font-size: 1em;
    /* color: #ddd; */
    color: #333;
    line-height: 1.6;
  }
  
  /* Content Wrapper */
  .product-quality-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Card Styling */
  .product-quality-card {
    padding: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    /* background-color: #222; */
    text-align: left;
  }
 

  /* Left and Right Layout for Desktop */
  .product-quality-card.left {
    align-self: flex-start;
  }
  .product-quality-card.right {
    align-self: flex-end;
  }

  @media (max-width: 767px){
    .product-quality-heading-card {
      text-align: center;
      font-size: 25px;
      color: #a36e29;
  }
  .product-quality-card.left {
    align-self: flex-start;
    /* height: 200px; */
  }
  .product-quality-card.right {
    align-self: flex-end;
    /* height: 160px; */

  }
  .Read-more {
    margin-left: 60%;
    color: #a36e29;
}
  }

  /* Responsive Styling */
  @media (min-width: 768px) {
    .product-quality-content {
      flex-direction: row;
    }
    .product-quality-heading-card {
      text-align: center;
      font-size: 18px;
  }
  
  .Read-more {
    margin-left: 66%;
    color: #a36e29;

}
    .product-quality-card {
      flex: 1;
      max-width: 48%;
      height: 220px;
    }

    .product-quality-heading-card {
      text-align: center;
      font-size: 25px;
      color: #a36e29;
  }
  }
  
  @media (min-width: 992px) {
    .product-quality-heading {
      font-size: 2.6rem;
    font-weight: 500;
    /* color: white; */
    color:#a36e29 ;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.2;
    }
  
    .product-quality-para {
      font-size: 18px;
    }

    .product-quality-heading-card {
      text-align: center;
      font-size: 25px;
      color: #a36e29;
  }
  
  .Read-more {
    margin-left: 80%;
    color: #a36e29;

}
  }
  
  @media (max-width: 768px) {
    .product-quality-heading {
      font-size: 1.8em;
      color:#a36e29 ;

    }
  
    .product-quality-para {
      font-size: 0.95em;
      text-align: justify;
    }
    
    .product-quality-card {
      text-align: center;
      padding: 15px;
    }
  }
  